<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

{{#each posts as |post| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/blogentry/{{post.id}}">{{post.name}}</a>
    </h2>
  </div>
</div>
{{/each}}

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Post</h3>
    <form class="form new-blogentry-form">
      <div class="form-group">
        <label for="blogentry-name">Title</label>
        <input class="form-input" type="text" id="blogentry-name" name="blogentry-name" />
      </div>
      <div class="form-group">
        <label for="blogentry-desc">Entry</label>
        <textarea class="form-input" id="blogentry-desc" name="blogentry-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Blog Entry</button>
      </div>
    </form>
  </div>